<div class="card auth-card">
  <h2>Connexion</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="email@exemple.com" />
    <div class="error-message" *ngIf="form.controls.email.invalid && form.controls.email.touched">
      Adresse email invalide.
    </div>

    <label>Mot de passe</label>
    <input type="password" formControlName="password" />
    <div class="error-message" *ngIf="form.controls.password.invalid && form.controls.password.touched">
      Mot de passe requis.
    </div>

    <button type="submit" [disabled]="loading">Se connecter</button>
  </form>
  <p class="error-message" *ngIf="error">{{ error }}</p>
  <p class="helper">
    Pas encore de compte ?
    <a routerLink="/auth/sign-up">Créer un compte</a>
  </p>
</div>
