:host {
  display: block;
}

button[role='tab'][aria-selected='true'] {
  position: relative;
}

button[role='tab'][aria-selected='true']::after {
  content: '';
  position: absolute;
  bottom: -0.375rem;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 9999px;
  background: hsl(var(--primary));
}
