<div
  class="relative inline-flex"
  (keydown.escape)="close()"
  [attr.aria-expanded]="open"
  role="presentation"
>
  <div
    #trigger
    role="button"
    tabindex="0"
    class="inline-flex w-full"
    (click)="toggle($event)"
    (keydown.enter)="toggle($event)"
    (keydown.space)="toggle($event)"
    aria-haspopup="menu"
  >
    <ng-content select="[dropdown-trigger]"></ng-content>
  </div>

  <div
    *ngIf="open"
    class="absolute z-50 mt-2 w-56 rounded-lg border border-border bg-popover p-1 text-popover-foreground shadow-xl focus:outline-none"
    [ngClass]="menuAlignmentClass"
    role="menu"
  >
    <div class="flex flex-col gap-1">
      <ng-content select="[dropdown-content]"></ng-content>
    </div>
  </div>
</div>
